<!--banner-->
<div class="form-main-bg">
  <form (ngSubmit)="resetPassword(f)" #f="ngForm" class="form-horizontal form-label-left parsleyjs" method="post"
              data-parsley-priority-enabled="false"
              novalidate="novalidate">
     <div class="col-md-4 offset-md-4 form-bg">
       <h4 class="form-heading">Reset Password</h4>
      <!--password-->
      <div class="form-group row">
        <div class="input-group">
           <span class="input-group-addon form-icon-bg"><i class="fa fa-unlock-alt form-icon" aria-hidden="true"></i></span>
          <input type="password" name="password" id="password" class="form-control form-input" placeholder="Password" aria-describedby="basic-addon1"[(ngModel)]="user.password" required #password="ngModel">
        </div>
     </div><!--row-->

     <!--login button-->
     <div class="form-group row">
          <button type="submit" class="btn btn-outline-success form-btn" [disabled]="!f.valid">Reset Password</button>
     </div>
     </div><!--col-->
     <!--sign up -->
 </form>

