/*login*/
.form-main-bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0em;
}
.form-bg{
    margin-top: 3em;
    margin-bottom:2em;
    background-color: gray;
    padding: 2em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
 .form-input{
    border: 1px solid #fff;
 }
 .form-icon-bg{
    background-color: #5cb85c;
    border-radius: 0px;
    width: 46px;
 }
.form-radio{
  color:#fff;
  font-size: 14px;
}
.form-icon{
  color:#fff;
}
.form-btn{
  float:right;
  padding: 10px 40px;
  color: #fff;
  border-color: #fff;
  border-radius:0px;
}
.form-control{
  border-radius: 0px;
}
.form-heading{
  text-align: center;
  color: #fff;
  padding-bottom:20px;
}
.forget-pwd{
  color: #fff;
  float:right;
  font-size:13px;
  padding-right:15px;
}
.more-pwd{
  color: blue;
  float:right;
  font-size:13px;
  padding-right:150px;
}


.form-bottom{
  margin-top: 0em;
  background-color: #fff;
  padding: 1em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
 .form-bottom-text{
   margin-top: 6px;
   margin-bottom: 0em;
 }
.bottom-btn{
  border-radius: 0px;
}
.loginlist{
  margin-top: 30px;
}
