<!--banner-->
<div class="form-main-bg">
  <form (ngSubmit)="OnForgetpassword(f)" #f="ngForm" class="form-horizontal form-label-left parsleyjs" method="post"
              data-parsley-priority-enabled="false"
              novalidate="novalidate">
     <div class="col-md-4 offset-md-4 form-bg">
       <h4 class="form-heading">Forget Password </h4>
       <!--user name-->
       <div class="form-group row">
         <div class="input-group">
            <span class="input-group-addon form-icon-bg"><i class="fa fa-user form-icon" aria-hidden="true"></i></span>
           <input type="text" id= "email" name="email" class="form-control form-input" placeholder="Email" aria-describedby="basic-addon1" [(ngModel)]="user.email"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel">
        </div>
      </div><!--row-->

     <!--login button-->
     <div class="form-group row">
          <button type="submit" class="btn btn-outline-success form-btn" [disabled]="!f.valid">Send Mail</button>
     </div>
     </div><!--col-->
     <!--sign up -->
 </form>
 </div><!--background-->